<p id="notice"><%= notice %></p>
<div class="container border">
<h1>Projects</h1>
<% if current_user.user_type == "manager" %>
  <%= link_to button_tag('New Project'), new_project_path %>
<% end %>
<br><br>
<%= will_paginate @projects, render: BootstrapPagination::Rails, previous_label: "Old",next_label: "Next", inner_window: 1, outer_window: 0 %>
  <% @projects.each do |project| %>

    <div class="inline-text">  
      <b>Title:</b>
      <p><%= project.title %></p>
    </div><br>
    <div class="inline-text"> 
      <b>Content:</b>
      <p class="text-dark"><%= link_to project.content,project %></p>
    </div>
    <div class="float-right">
      <% if current_user.user_type == "manager" %>
        <td><%= link_to button_tag('Users'),user_admin_index_path %></td>
        <td><%= link_to button_tag('Edit'), edit_project_path(project) %></td>
        <td><%= link_to button_tag('Delete'), project, method: :delete, data: { confirm: 'Are you sure?' } %></td><br><br>
      <% end %>
    </div>
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th>Title</th>
          <th>Type</th>
          <th>Status</th>
          <th>Deadline</th>
          <th>Screenshot</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody data-spy="scroll" data-target="#myScrollspy" data-offset="1">
        <div id = "myScrollspy">
          <% project.bugs.each do |bug| %>
            <tr>
              <td><%=bug.title %></td>
              <td><%=bug.bug_type %></td>
              <td><%=bug.status %></td>
              <td><%=bug.deadline %></td>
              <td><%= image_tag bug.image_url.to_s %></td>
              <td><%= link_to button_tag('Edit'), edit_project_bug_path(bug.project.id, bug.id) %></td>
              <% if current_user.user_type != "developer" %>
                <td><%= link_to button_tag('Delete'), project_bug_path(bug.project.id, bug.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tr>
          <% end %>
          <% if current_user.user_type == "qa" %>
            <tr>
              <td><%= link_to button_tag("Report Bug"),new_project_bug_path(project) %></td>
            </tr>
          <% end %>
        </div>
      </tbody>
    </table>


        
  <% end %>    

<br>


</div>