<p id="notice"><%= notice %></p>
<div class="container border">
  <br>
<font size="+2"><b>Projects</b></font>
<% if current_user.user_type == "manager" %>
  <%= link_to button_tag('New Project', :class => "btn btn-primary float-right"), new_project_path %>
<% end %>
<br><br>
  <% @projects.each do |project| %>
    <div class= "container border bg-secondary bg-light">

      <div class="inline-text">  
        <b>Title:</b>
        <%= project.title %>
      </div><br>
      <div class="inline-text"> 
        <h3><b>Description:</b></h3>
        <p><%= project.content %></p>
      </div>
      <div class="float-right">
      <td><%= link_to button_tag('show',:class => "btn btn-success"), project_path(project) %></td>
      <% if current_user.user_type == "manager" %>
        <td><%= link_to button_tag('Edit',:class => "btn btn-warning"), edit_project_path(project) %></td>
        <td><%= link_to button_tag('Delete',:class => "btn btn-danger"), project, method: :delete, data: { confirm: 'Are you sure?' } %></td><br><br>
      <% end %> 
    </div>
    </div>   
    <br>    
  <% end %>
</div>