<div class="container" > 
  <table class="table table-hover">

  	<thead class="thead-dark">
  	<tr>
  		<th>Name</th>
  		<th>Email</th>
  		<th>Role</th>
  		<th colspan="1"></th>
      </tr>
      </thead>

      <tbody data-spy="scroll" data-target="#myScrollspy" data-offset="1">
         	<div id = "myScrollspy">
          <% @Accepts_users.each do |user| %>
              <tr>
                <td><%=user.name %></td>
              	<td><%=user.email %></td>
                <td><%=user.user_type %></td>
                <% if user.user_type != "manager" || user != current_user %>
                  <td><%=link_to button_tag('Remove', :class => "btn btn-warning"),project_remove_user_project_path(@project.id,:user => user.id) %></td>
                <% else %>
                  <td><%=button_tag('Remove', :class => "btn btn-warning hidden") %></td>
                <% end %>
             	</tr>
         	<% end %>

          <% @reject.each do |user| %>
              <tr>
                <td><%=user.name %></td>
                <td><%=user.email %></td>
                <td><%=user.user_type %></td>
                <td><%= link_to button_tag('Add', :class => "btn btn-success"),project_add_user_project_path(@project.id,:user =>user.id) %></td>
              </tr>
          <% end %>

          </div>
      </tbody>
  </table>

<%= link_to button_tag('Back', :class => "btn btn-primary"), project_path(@project) %>