<p id="notice"><%= notice %></p>
<div class="container border">
	<h1>Project</h1>
	<br>
  <div class= "container border bg-secondary bg-light sticky-top">
    <br>
    <div class="inline-text">  
      <font size="+1"><b>Title:</b></font>
      <%= @project.title %>
      <% if current_user.user_type == "manager" %>
        <td><%= link_to button_tag('Users',:class => "btn btn-success float-right"),project_users_project_path(@project) %></td>
      <% end %>
    </div><br>
    <div class="inline-text"> 
      <h3><b>Description:</b></h3>
      <p><%=@project.content %></p>
    </div>
    <div class="float-right">
      <% if current_user.user_type == "manager" %>
        <td><%= link_to button_tag('Edit',:class => "btn btn-warning"), edit_project_path(@project) %></td>
        <td><%= link_to button_tag('Delete',:class => "btn btn-danger"), @project, method: :delete, data: { confirm: 'Are you sure?' } %></td><br><br>
      <% end %>
    </div>
  </div><br>
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Title</th>
          <th>Type</th>
          <th>Status</th>
          <th>Deadline</th>
          <th>Assignment</th>
          <th>Screenshot</th>
        </tr>
      </thead>

      <tbody >
        <div >
          <% @project.bugs.each do |bug| %>
            <tr>
              <div class = "center-text ">
                <td><%= link_to bug.title,project_bug_path(bug.project.id,bug.id) %></td>
                <td><%=bug.bug_type %></td>
                <td><%=bug.status %></td>
                <td><%=bug.deadline %></td>
                <% if current_user.user_type=="developer" %>
                  <% if bug.Assigned.nil? %>
                    <td><%=link_to button_tag("Assign", :class => "btn btn-warning"),assign_user_project_bug_path(bug.project.id,bug.id ) %></td>
                  <% else %>
                    <td><%= User.find(bug.Assigned).name %></td>
                  <% end %>
                <% else %>
                  <% if bug.Assigned.nil? %>
                    <td>Not Assigned</td>
                  <% else %>
                    <td><%= User.find(bug.Assigned).name %></td>
                  <% end%>
                </div>
                <% end %>
              <% if bug.image? %>
                <td><%= image_tag(bug.image_url(:thumb), alt: 'Image', class: "img-fluid img-thumbnail small") if bug.image? %></td>
              <% else %>
                <td>Screenshot is not available</td>
              <% end %>
            </tr>
          <% end %>
          <% if current_user.user_type == "qa" %>
            <tr>
              <td><%= link_to button_tag("Report Bug",:class => "btn btn-secondary"),new_project_bug_path(@project) %></td>
            </tr>
          <% end %>
        </div>
      </tbody>
    </table>        

    <br><br>
    <%= link_to button_tag('Back', :class => "btn btn-primary"), projects_path %><br><br>
</div>
