<%= form_for([@bug.project,@bug]) do |form| %>

      <%= form.label :title %>
      <%= form.text_field :title , :class => "form-control" %><br>
    
      <%= form.label :Description %>
      <%= form.text_area :Description, :class => "des" %><br>

      <%= form.label :deadline %>
      <%= form.date_field :deadline , :class => "form-control" %><br>

      <%= form.label :bug_type %>
      <%= form.text_field :bug_type  , :class => "form-control"%><br>

      <%= form.file_field :image %><br>

      <div class="actions">
        <%= form.submit :class => "btn btn-primary"  %>
      </div>
    <% end %>