<div class="container">
  <h1>Editing Bug</h1>

  <%= form_for(@bug, url: {action: "update"}) do |form| %>

    <%= form.label :title %>
    <%= form.text_field :title %><br>

    <%= form.label :deadline %>
    <%= form.date_field :deadline %><br>

    <%= form.label :bug_type %>
    <%= form.text_field :bug_type %><br>

    <%= form.label :status %>
    <%= form.text_field :status %>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>

  <%= link_to 'Show', project_bug_path %> |
  <%= link_to 'Back', project_bugs_path %>
</div>  