<div class="container border border-dark rounded">
  <p id="notice"><%= notice %></p>

  <h1><b>Bugs</b></h1>
  <table class="table ">
    <thead class="thead-dark">
      <tr>
        <th>Title</th>
        <th>Type</th>
        <th>Status</th>
        <th>Deadline</th>
      </tr>
    </thead>

    <tbody>
      <% @bugs.each do |bug| %>
        <tr>
          <td><%=bug.title %></td>
          <td><%=bug.bug_type %></td>
          <td><%=bug.status %></td>
          <td><%=bug.deadline %></td>

        </tr>

      <% end %>
      <tr>
        <td><%= link_to button_tag('Report Bug',:class => "btn btn-secondary"), new_project_bug_path %></td>
      </tr>
    </tbody>
  </table>

  <br>
  <%= link_to button_tag('Back', :class => "btn btn-primary"), project_path(@bugs.first.project.id) %>
</div>