<div class="container">
	<h1>New Bug</h1>

	<%= form_for(@bug, url: {action: "create"},:html => {:multipart => true}) do |form| %>
  		<% if @bug.errors.any? %>
    		<div id="error_explanation">
      			<h2><%= pluralize(@bug.errors.count, "error") %> prohibited this bug from being saved:</h2>

      		<ul>
      			<% @bug.errors.full_messages.each do |message| %>
        			<li><%= message %></li>
      			<% end %>
      		</ul>
    		</div>
  		<% end %>

  		<%= form.label :title %>
  		<%= form.text_field :title %><br>

      <%= form.label :Description %>
      <%= form.text_area :Description %><br>


  		<%= form.label :deadline %>
  		<%= form.date_field :deadline %><br>

  		<%= form.label :bug_type %>
  		<%= form.text_field :bug_type %><br><br>

  		<%= form.file_field :image %><br><br>

  		<div class="actions">
    		<%= form.submit %>
  		</div>
	<% end %>


	<%= link_to button_tag('Back'), projects_path %>
</div>