<div class="container">
	<h1>New Bug</h1>

	<%= form_for(@bug, url: {action: "create"},:html => {:multipart => true}) do |form| %>
  		<% if @bug.errors.any? %>
    		<div id="error_explanation">
      			<h2><%= pluralize(@bug.errors.count, "error") %> prohibited this bug from being saved:</h2>

      		<ul>
      			<% @bug.errors.full_messages.each do |message| %>
        			<li><%= message %></li>
      			<% end %>
      		</ul>
    		</div>
  		<% end %>

  		<%= form.label :title %>
  		<%= form.text_field :title , :class => "form-control"%><br>

      <%= form.label :Description %>
      <%= form.text_area :Description, :class => "form-control" %><br>


  		<%= form.label :deadline %>
  		<%= form.date_field :deadline, :class => "form-control"  %><br>

      <div class="list-group list-group-horizontal">
  		<%= form.select :bug_type, "<option value=Bug>Bug</option><option value=Feature>Feature</option></select>".html_safe  %><br><br>
      </div><br>
  		<%= form.file_field :image %><br>

  		<div class="actions">
    		<%= form.submit :class => "btn btn-primary" %>
  		</div>
	<% end %>


	<%= link_to button_tag('Back', :class=>"btn btn-primary"), project_path(@bug.project.id) %>
</div>