<p id="notice"><%= notice %></p>
<div class = "container border">
    <br>
    <div class = "col-md">
        <font size ="+1"><b>Title: </b></font>
        <%= @bug.title %>
    </div>
    <div class = "col-sm-6 ">
        <p><h3><b>Description</b></h3></p>
        <p><%= @bug.Description %></p>
    </div><br>
    <div class = "col-sm-6 thumb">
        <% if @bug.image? %>
            <%= image_tag(@bug.image_url(:thumb), class: "img-fluid float-right img-thumbnail") if @bug.image? %>
        <% else %>
            <b>Image is not available</b>
        <% end %>
    </div>
    <div class = "col-sm-2">
        <font size = "+1"><b>Type</b></font>
    </div>
    <div class = "col-sm-2">
        <font size = "+1">'<%= @bug.bug_type %>'</font>
    </div>
    <div class = "col-sm-2">
        <font size="+1"><b>Status</b></font>
    </div>
    <div class="col-sm-2">
        <font size="+1">'<%= @bug.status %>'</font>
    </div>
    <div class="col-sm-2"> 
        <font size="+1"><b>Deadline</b></font>  
    </div>
    <div class="col-sm-2">
        <% if @bug.deadline? %> 
            <font size="+1"><%= @bug.deadline %></font>
        <% else %>
            <font size="+1">Deadline is not decided yet</font>
        <% end %>
    </div>
    <br><br>
    <div class="col-sm-2">
        <font size="+1"><b>Assignment</b></font>
    </div>
    <div class="col-sm-2">
        <% if current_user.user_type=="developer" %>
            <% if !@bug.Assigned? %>
                <%=link_to button_tag("Assign",:class => "btn btn-warning" ),assign_user_project_bug_path(@bug.project.id,@bug.id ) %>
            <% else %>
                <%= User.find(@bug.Assigned).name %>
                <% if @bug.status == "started" %>
                	<% if @bug.bug_type == "feature" %>
                		<pre><%= link_to button_tag('Completed', :class => "btn btn-success"),bug_resolve_project_bug>_path(@bug.project.id,@bug.id) %></pre>
                	<% else %>
                    	<pre><%= link_to button_tag('Resolved', :class => "btn btn-success"),bug_resolve_project_bug_path(@bug.project.id,@bug.id) %></pre>
                    <% end %>
                <% end %>
            <% end %>
        <% else %>
            <% if @bug.Assigned? %>
               <%= User.find(@bug.Assigned).name %>
            <% else %>
                Not Assigned
            <% end%>
        <% end %><br><br>
    </div>
</div>
<br>
<div class="container">
    <%=link_to button_tag('Back', :class => 'btn btn-primary'), project_path(@bug.project.id) %>
    <% if current_user.user_type == "qa" %>

        <%= link_to button_tag('Edit', :class => 'btn btn-warning float-right'),edit_project_bug_path(@bug.project.id,@bug.id) %>  
        <%= link_to button_tag('Delete', :class => 'btn btn-danger float-right'),project_bug_path(@bug.project.id,@bug.id),method: :delete, data: {confirm: "Are Your sure!"} %><br><br>
    <% end %>
    

</div>



